<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>게시글 상세</h2>
	<hr>
	글번호 : <span th:text="${b.no}"></span><br>
	제목 : <span th:text="${b.title}"></span><br>
	작성일 : <span th:text="${b.regdate}"></span><br>
	작성자 : <span th:text="${b.writer}"></span><br>
	조회수 : <span th:text="${b.hit}"></span><br>
	내용 : <textarea th:text="${b.content}" cols="30" rows="10" readonly></textarea><br>
	<div th:if="${b.fname} != null">
		<!-- 이미지 파일일 경우 -->
		<div th:if="${#strings.endsWith(b.fname,'.jpg')} or ${#strings.endsWith(b.fname,'.gif')} or ${#strings.endsWith(b.fname,'.png')}">
			이미지 : <img th:src="@{/images/}+${b.fname}"/><br>			
		</div>
		<!-- 이미지 파일이 아니면 -->
		<div th:unless="${#strings.endsWith(b.fname,'.jpg')} or ${#strings.endsWith(b.fname,'.gif')} or ${#strings.endsWith(b.fname,'.png')}">
			<a th:href="@{'/images/'+${b.fname}}" th:text="${b.fname}"></a>
		</div>
	</div>
	<hr>
	<a th:href="@{/board/insert(no=${b.no})}">답글 작성</a>
</body>
</html>