<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:if="${session.m.role} == admin">
		<a href="/admin/index">관리자메뉴</a>
	</th:block>
	<span th:text="${session.m.id}+'('+${session.m.name}+')님 로그인 하였습니다.'">
	</span>
	<a href="/logout">로그아웃</a>
	<a th:href="@{/board/list/}+${session.m.id}+'/1'">내 글보기</a>
	<a th:href="@{/board/list}">전체 글보기</a>
	<h2>게시물 목록</h2>
	<a href="/board/insert">게시글 등록</a>
	
	<hr>
	<table border="1" width="80%">
		<thead>
			<tr>
				<td>글번호</td>
				<td>제목</td>
				<td>작성자</td>
				<td>등록일</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="b:${list}">
				<td th:text="${b.no}"></td>
				<td>
				<span th:if="${b.b_level>0}">
						<span th:each="i:${#numbers.sequence(1,b.b_level)}">&nbsp;</span>
						-->
					</span>
					<a th:href="@{/board/detail/}+${b.no}" th:text="${b.title}"></a></td>
				<td><a th:text="${b.member.id}" th:href="@{/board/list/}+${b.member.id}+'/1'"></a></td>
				<td th:text="${b.regdate}"></td>
			</tr>
		</tbody>
	</table>
	<th:block th:if="${writer} == null">
		<span th:each="i:${#numbers.sequence(1, page)}">
			<a th:href="@{'/board/list/'+${i}}" th:text="${i}"></a>
		</span>
	</th:block>
	<th:block th:if="${writer} != null">
		<span th:each="i:${#numbers.sequence(1, page)}">
			<a th:href="@{'/board/list/'+${writer}+'/'+${i}}" th:text="${i}"></a>
		</span>
	</th:block>
</body>
</html>