<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>고객등록</h2>
	<hr>
	<form action="/customer/save" method="post">
		고객번호 : <input type="number" name="custid" th:value="${custid}"><br>	
		고객명 : <input type="text" name="name"><br>	
		주소 : <input type="text" name="addr"><br>	
		전화번호 : <input type="text" name="phone"><br>	
		<input type="submit" value="등록">
		<input type="reset" value="다시입력">
	</form>
</body>
</html>